@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Coiny&display=swap');

.header, h1, h2 {
    font-family: 'Coiny', cursive;
    padding: 60px;
    text-align: center;
    background-color: #5dbcd2;
    color: black;
}

h3, .description {
    background-color: #212C6A;
    padding:60px;
}
p {
    font-family: 'Advent Pro', sans-serif;
    color: #328C97;
}

body {
    font-family: 'Advent Pro', sans-serif;
    background-color: black;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.personal_brand {
    height:350px;
    padding:30px;
}

.frontcard, .backcard {
    padding:30px;
}
.column  {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: 5dbcd2;
    color:#5dbcd2;
    display: inline;
    padding:30px;
    
    
    /* padding-left: px; */
}

input, select, textarea, .myform {
    color: #5dbcd2;
    background-color: #000000;
    display: inline;
}
.footer p{
    color:black;
    background-color: #5dbcd2;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}